@font-face {
    font-family: "NotoSans";
    src: url("font.otf") format('opentype');
}
html, body {
	margin: 0;
	padding: 0;
	min-width: 400px;
	width: 100%;
	height: 100%;
	font-family:NotoSans;
}

body {
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
	color: #000000;
}

#upper-bar {
	min-height: 38px;
	background: gray;
	padding: 7px 15px;
	display: fixed;
}
#button-write {
	font-size: 25px;
	float:right;
}
#search {
	display: table;
	margin: 0 auto;
}

#navi-bar {
	min-height: 30px;
	background: whitesmoke;
}

#content {
	display: flex;
	width: 100%;
	height: 100%;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 30px;
	overflow-y: auto;
	-ms-overflow-style: none;
}

#content::-webkit-scrollbar {
	display: none;
}

#content-view {
	min-height: calc(100% - 76px);
	width: 100%;
	display: flex;
	justify-content: center;
}

#content-view-inner {
	width: 70%;
	min-height: calc(100% - 80px);
	max-width: 1280px;
	min-width: 400px;
	padding-top: 50px;
	padding-bottom: 30px;
	overflow-y: auto;
	-ms-overflow-style: none;
}
#content-view-inner hr{
	margin: 0;
}

#content-view-inner::-webkit-scrollbar {
	display: none;
}

#video-wrap {
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	height: 0;
}

#video-wrap video {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}

#video-title {
	font-size: 30px;
	font-weight: bold;
}

#under-bar {
	background-color: whitesmoke;
	text-align: center;
	height: 30px;
	width: 100%;
	display: fixed;
}

#title {
	font-size: 25px;
}

.post {
	width: 360px;
	height: 252px;
	margin: 30px 10px;
	display: flex;
	flex-direction: column;
}

.post-thumbnail {
	width: 360px;
	height: 202px;
}
.post-info {
	width: 360px;
	height: 50px;
}
#post-info-title{
	font-weight:bold;
	font-size: 30px;
}

.thumbnail {
	background-color: gray;
	margin: 5px;
	width: 350px;
	height: 180px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	border-radius: 10%;
}

.post-view {
	margin: 30px 10px;
	height: 1000px;
}

.post-view-body {
	height: 800px;
	background-color: whitesmoke;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.post-view-control {
	height: 25px;
	text-align: right;
	border-bottom: 1px solid black;
	background-color: whitesmoke;
}

#write-view-title {
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 30px;
}

#write-title {
	border: none;
	font-weight: bold;
	font-size: 30px;
	width:calc(100% - 4px);
}
#write-desc{
	resize:none;
	border:none;
	border-bottom: 1px solid gray;
	width:calc(100% - 4px);
	height: 300px;
	padding:2px;
	margin-bottom: 20px;
}
#write-controller{
	float:right;
}
#write-password{
	border: none;
	border-bottom: 1px solid gray;
	font-size: 15px;
	margin-left: 15px;
}
#write-author{
	border: none;
	border-bottom: 1px solid gray;
	font-size: 15px;
}
#write-submit{
	margin-left: 15px;
}